@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  font-size: calc(11px/1.4);
  font-weight: 300;
  color: #FFFFFF;
  background-color: #000000;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}